version: '3.1'

networks:
  network:
    driver: bridge

services:
  mongo:
    container_name: mongo
    image: mongo:7.0.29
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017
    networks:
      - network
volumes:
  mongo_data: {}